<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="meeting.css" />
        <title>會議室管理系統</title>
    </head>
    <body>
        <div class="home">
            <div class="left">
                <h1>會議室預約系統</h1>
                <form action="/" >
                    <button class="btnleft" type="submit">立即預約</button>
                </form>
                <form action="/view" >
                    <button class="btnleft" type="submit">查看預約</button>
                </form>
                <form action="/modify" >
                    <button class="btnleft" type="submit">變更預約</button>
                </form>
                <form action="/now" >
                    <button class="btnleft" type="submit">即時狀況</button>
                </form>
            </div>
            <div class="right">
                <h2>變更會議室</h2>
                <label>ID：</label>
                <form id="mForm" action="/mdata" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <select id="id" name="m_id">
                        <option>B1044109</option>
                        <option>B1044124</option>
                        <option>B1044127</option>
                        <option>B1044147</option>
                        <option>B1044150</option>
                        <option>B1044220</option>
                        <option>B1044222</option>
                        <option>B1044234</option>
                        <option>B1044252</option>
                        <option>B1044269</option>
                    </select>    
                    <br>
                    <br>
                    <button class="btnright" id="check" type="submit">確認</button>
                </form>
                <form id="dForm" action="/delete" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label id="message3">{{ message3 }}</label> 
                </form> 
            </div>
            
        </div>
        <script src="delete.js"></script>
        <script src="action.js"></script>
        <script src="modify.js"></script>  
        <script src="https://unpkg.com/dompurify/dist/purify.min.js"></script>      
    </body>
</html>