<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="meeting.css" />
        <title>會議室管理系統</title>
    </head>
    <body>
        <div class="home">
            <div class="left">
                <h1>會議室預約系統</h1>
                <form action="/" >
                    <button class="btnleft" type="submit">立即預約</button>
                </form>
                <form action="/view" >
                    <button class="btnleft" type="submit">查看預約</button>
                </form>
                <form action="/modify" >
                    <button class="btnleft" type="submit">變更預約</button>
                </form>
                <form action="/now" >
                    <button class="btnleft" type="submit">即時狀況</button>
                </form>
            </div>
            <div class="right">
                <h2>刪除結果</h2>
                <label>已成功刪除，目前此ID無預約資料</label>
                <form action="/modify" >
                    <button class="btnleft" type="submit">返回</button>
                </form>
        </div>
        <script src="vtime.js"></script>
        <script src="action.js"></script>
        <script src="view.js"></script>
        <script src="https://unpkg.com/dompurify/dist/purify.min.js"></script>
    </body>
</html>